<ion-modal-view>
<div class="modal image-modal overlay text-center" >
    <ion-header-bar class="">             
        <button class=" button button-icon button-clear  pull-right"  ng-click="ctrl.closeModal()">
            <span class="ion-close-circled close color-titles-green" ></span>
        </button>        
    </ion-header-bar >
    <ion-content class="padding">
      <h1 class="color-titles-green">Reooz</h1>
        <p>
        <img src="img/reooz-green.png" />
        <br />
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lectus sed neque malesuada sodales a vitae nisl. Pellentesque dictum tincidunt maximus.
            <br /><br />
            Versao:1.0.0
            <br /><br />
            Todos os direitos reservados ® <br />
            2016
        </p>
    </ion-content>
</div>
</ion-modal-view>