<ion-modal-view>
<div class="modal image-modal overlay text-center" >
    <ion-header-bar class="">             
        <button class=" button button-icon button-clear  pull-right"  ng-click="ctrl.closeModal()">
            <span class="ion-close-circled close color-titles-green" ></span>
        </button>        
    </ion-header-bar >
    <ion-content class="padding">
      <h1 class="color-titles-green">Suporte</h1>
        <p>
        	Em caso de qualquer dificuldade técnica entre em contato através do e-mail:<br />
            <a href="mailto:suporte@reooz.com.br">suporte@reooz.com.br</a>
        </p>
    </ion-content>
</div>
</ion-modal-view>