<div class="modal image-modal overlay text-center" >
    <ion-header-bar class=""> 
        <button class=" button button-icon button-clear  pull-right"  ng-click="LoginVm.closeModal()">
            <span class="ion-close-circled close color-titles-gray" ></span>
        </button>        
    </ion-header-bar >
    <ion-content class="padding">
        <h1 class="ptb10">Esqueci minha senha</h1>
        <div class="">
            <label class="form-control pb10">
                <input type="text" placeholder="Usuario" ng-model="LoginVm.user" validator="required">
            </label>       
        </div>
        <button class="button-block btn-reooz" ng-click="LoginVm.passRecover()">Enviar</button>        
    </ion-content>
</div>
