<ion-modal-view>
<div class="modal image-modal overlay text-center" >
    <ion-header-bar class="">             
        <button class=" button button-icon button-clear  pull-right"  ng-click="ctrl.closeModal()">
            <span class="ion-close-circled close color-titles-green" ></span>
        </button>        
    </ion-header-bar >
    <ion-content class="padding">
      <h1 class="color-titles-green">Anúncios</h1>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lectus sed neque malesuada sodales a vitae nisl. Pellentesque dictum tincidunt maximus. In vel ante ante. Fusce volutpat neque quis lacus hendrerit, et tincidunt odio vestibulum. Ut quis sagittis nulla, sit amet luctus ipsum. 
            </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nam quis odio hendrerit justo auctor semper. Integer auctor enim sit amet magna tempor, eleifend gravida dolor dictum. Etiam porta vel metus sed tempor. Vivamus imperdiet nisl ac libero faucibus, eu scelerisque odio luctus. Suspendisse eu nibh nisi. In dolor orci, vulputate vitae augue non, ultrices pretium risus. Etiam pulvinar arcu at enim molestie, nec congue mi euismod.
        </p>
    </ion-content>
</div>
</ion-modal-view>